<div data-header-target="openUserMenu" class="relative">
  <div  class="flex flex-row items-center gap-3">
    <div 
      data-action="click->yourControllerName#onRent"
      class="
      hidden
      md:block
      text-sm 
      font-semibold 
      py-3 
      px-4 
      rounded-full 
      hover:bg-neutral-100 
      transition 
      cursor-pointer
      "
      >
      Airbnb your home
    </div>
    <div 
      data-action="click->yourControllerName#toggleOpen"
      class="
      p-4
      md:py-1
      md:px-2
      border-[1px] 
      border-neutral-200 
      flex 
      flex-row 
      items-center 
      gap-3 
      rounded-full 
      cursor-pointer 
      hover:shadow-md 
      transition
      "
      >
      <i data-lucide="menu"></i>
      <div class="hidden md:block">
        <%# render 'avatar', src: currentUser&.image %>
        <i data-lucide="circle-user"></i>
      </div>
    </div>
  </div>
  <%# render 'menu_items' if isOpen %>
  <!-- Your header content here -->
  <div 
    class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 focus:outline-none divide-y divide-gray-100"
    id="menu-dropdown-items"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
  >
    <div class="py-1" role="none">
      <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Host your home</a>
      <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Host an experience</a>
      <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Help</a>
    </div>
  </div>
  <%= render 'components/navbar/mobile_navbar' %>
</div>
<%# render "shared/modal", modal_trigger_id: "user-auth-modal-trigger", modal_content: "home/user_auth_form", content_params: nil %>