<div 
    class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 focus:outline-none divide-y divide-gray-100"
    role="menu"
    id="menu-dropdown-items"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
  >
  <% if user_signed_in? %>
    <div class="py-1" role="none">
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">My trips</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">My favorites</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">My reservations</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">My properties</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Airbnb your home</a>
    </div>
  <% else %>
    <div class="py-1" role="none">
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Host your home</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Host an experience</a>
      <a href="#" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Help</a>
    </div>
  <% end %>
  <div class="py-1" role="none">
    <% if user_signed_in? %>
      <%= link_to "Log out", "#", data: { "turbo-method": :delete }, class: "block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" %>
    <% else %>
      <a href="#" data-header-target="userSignUpLink" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Sign Up</a>
      <a href="#" data-header-target="userLoginLink" class="block py-3 px-4 text-sm text-gray-700 transition hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Log in</a>
    <% end %>
  </div>
</div>